/* .all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin-left: 14rem;
  margin-top: 7rem;
  margin-bottom: 14rem;
  list-style-type: none;
} */

.container {
  display: flex;
  flex-direction: column;
}
