.filter {
  border-bottom: 1px solid grey;
}

.filter-container {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  margin: 1rem;
  margin-left: 12.8rem;
}
.filter div {
  margin-right: 5rem;
}

.total-products {
  margin-top: -1rem;
  margin-left: 0rem;
}
