.Header {
  background: #003b59;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
}

a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}
